//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

.popover.settings(tabindex='-1' style='width: 250px')
    .arrow
    h3.popover-title(style='color: black') Chart settings
    button.close(id='chart-settings-close' ng-click='$hide()') &times;
    .popover-content
        form.form-horizontal.chart-settings(name='chartSettingsForm' novalidate)
            .form-group.chart-settings
                label All columns
                ul.chart-settings-columns-list( dnd-list='paragraph.chartColumns' dnd-allowed-types='[]')
                    li(ng-repeat='col in paragraph.chartColumns track by $index')
                        .btn.btn-default.btn-chart-column-movable(dnd-draggable='col' dnd-effect-allowed='copy' dnd-dragstart='chartSettingsDragStart(paragraph)') {{col.label}}
                label X axis
                ul.chart-settings-columns-list(id='chart-settings-keys' dnd-list='paragraph.chartKeyCols' dnd-drop='acceptKeyColumn(event, index, item, external, type, allowedType)')
                    li(ng-repeat='col in paragraph.chartKeyCols track by $index')
                        .btn.btn-info.btn-chart-column {{col.label}}
                            i.fa.fa-close(ng-click='removeKeyColumn(paragraph, $index)')
                label Y axis
                ul.chart-settings-columns-list(id='chart-settings-vals' dnd-list='paragraph.chartValCols' dnd-drop='acceptValColumn(event, index, item, external, type, allowedType)')
                    li(ng-repeat='col in paragraph.chartValCols track by $index')
                        .btn.btn-success.btn-chart-column {{col.label}}
                            i.fa.fa-close(ng-click='removeValColumn(paragraph, $index)')
    h3.popover-footer Drag columns to axis

